.task-list-item {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 12px;
  border-radius: 8px;

  .task-title {
    margin-bottom: 0px;
    &.completed {
      text-decoration: line-through;
    }
  }
  .task-date {
    color: #aaa;
    font-size: 12px;
  }

  .task-status {
    display: flex;
    align-items: center;

    .ng-fa-icon {
      margin-right: 16px;
      cursor: pointer;
    }
  }
  .icon-select-button {
    margin-right: 12px;
    font-size: 20px;
  }
}
